@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.title {
  width: 30%;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-size: 2rem;
  border: 1px solid black;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.calculatorContainer {
  width: 30%;
  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem;
  background-color: #f2f2f2;
}

.display-content {
  width: 100%;
  height: 6vh;
  background-color: #fff;
  text-align: end;
  padding: 0.3rem 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}

.display-text-value {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem;
}

.btn {
  width: 23%;
  height: 6vh;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-equals {
  width: 100%;
  height: 6vh;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-equals .equals {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.footer {
  width: 30%;
  margin: 0 auto;
  height: 6vh;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerContainer {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fab {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.fab:hover {
  color: rgba(0, 0, 0, 0.726);
}

@media screen and (max-width: 1366px) {
  .display-content {
    height: 4rem;
  }

  .footer {
    height: 3.4rem;
  }
}

@media screen and (max-width: 992px) {
  .title {
    width: 50%;
    margin: 1rem auto;
  }
  .calculatorContainer {
    width: 50%;
    margin: 1rem auto;
  }
  .footer {
    width: 50%;
    margin: 1rem auto;
    height: 3.4rem;
  }
}

@media screen and (max-width: 576px) {
  .title {
    width: 80%;
    margin: 1rem auto;
  }
  .calculatorContainer {
    width: 80%;
    margin: 1rem auto;
  }
  .footer {
    width: 80%;
    margin: 1rem auto;
    height: 3.4rem;
  }
}